.Box {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    background: grey;
    z-index: 99;
}

.Open {
    background: #fff;
}

.Item {
    position: relative;
    z-index: -9999;
    background-image: url("http://www.25karats.com/articles/wp-content/uploads/2015/05/shutterstock_278121161.jpg");
    height: 50px;
    width: 50px;
    display: inline-block;
    background-size: contain;
}
